Gemfile.lock
*.gem
.bundle
.kitchen/
.kitchen.local.yml
vendor/bundle
pkg/*
.vagrant
bin/*
files/**/cache/
vendor/cookbooks

/.idea/github-omnibus-cartodb.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
